/* *{
  border:solid;
  border-color: white;
} */

body {
  background: black;
  display:flex;
  justify-content: space-between;
  margin:0;
  height:100vh;
  font-family: 'League Spartan', sans-serif;
  color:white;
}

section {
  width:20%;
  background: black;
  margin:none;
  padding: 20px;
}

main{
  width:50%;
}

h1{
  text-align: center;
}

h2{
  text-align: center;
}

.gameboard, div{
  border:2px solid rgba(255,255,255,0.90);
}

.game-board{
  display:grid;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  height: 60%;
  width: 85%;
  margin: auto;
  margin-top: 10%;
  border: none;
}

#D3870B
#B0C4CA
